@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

i{
  font-size: xx-large;
}

.disabled{
  cursor: not-allowed;
}

.footerModal:hover{
  text-decoration: underline;
  font-style: bold;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.cols-2{
  grid-template-columns: repeat(2, 1fr);
}

.breadcrumbs{
  position: absolute;
  top: 40px;
  left: 20px;
}

::-webkit-scrollbar{
  display: none;
}